
:root {
    /* colors */

    --pureWhite: #FFFFFF;
    --body-light: hsla(0, 0%, 98%, 1);
    --body-dark: hsla(235, 21%, 11%, 1);
    

    /* texts */

    --standBy-light: hsla(235, 9%, 61%, 1);
    --normal-light: hsla(235, 19%, 35%, 1);
    --selection-light: hsla(220, 98%, 61%, 1);
    --font: 'Josefin Sans', sans-serif;    


    --gradientColor1: hsla(192, 100%, 67%, 1);
    --gradientColor2: hsla(280, 87%, 65%, 1);
}


body {
    background-color: var(--body-light);
    background-image: url("./images/bg-mobile-light.jpg");
    background-size: 100% 20rem;
    background-repeat: no-repeat;
    font-family: var(--font);
    font-weight: 400;
    padding: 5rem 2.4rem 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    body {
        background-image: url("./images/bg-desktop-light.jpg");
        background-size: 100% 30rem;
    }
}

ul, 
li {
    list-style: none;
}


.title {
    color: var(--pureWhite);
    text-align: center;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: .75px;
    margin-bottom: 4rem;
}


@media (min-width: 768px) {
    .title {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 1.125px;
        margin-bottom: 4.8rem;
    }
}


/* 
    =================

    ----- Todos -----

    =================
*/


/* 
    =================================

    ----- interaction Container -----

    =================================
*/


.interactionContainer {
    min-height: 48rem;
    max-width: 54rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}



.inputContainer {
    background-color: var(--pureWhite);
    width: 100%;
    min-height: 4.8rem;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
}

.input {
    border: none;
    outline: none;
    width: 90%;
    height: 4.8rem;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--standBy-light);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.17px;
}


.input:focus {
    color: var(--normal-light);
}


.todoButton {
    background-color: inherit;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    width: 10%;
    height: 48px;
}

.todoButton svg {
    cursor: pointer;
    transform: rotate(45deg) scale(.8);
}

.todoButton:hover svg path {
    fill: #008000;
}


@media (min-width: 678px) {
    .inputContainer {
        height: 6.8rem;
    }

    .input {
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: 0.25px;
    }
}



/* 
    ==========================

    ----- Todo Container -----

    ==========================
*/



.todoListContainer {
    background-color: var(--pureWhite);
    --itemHeight: 4.8rem;
    min-height: calc(var(--itemHeight) * 9);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 hsla(235, 9%, 61%, 1);
}

.todoList {
    --itemHeight: 4.8rem;
    height: calc(var(--itemHeight) * 8);
    overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
    display: none;
}

.todoList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.todoItem:last-child {
    border-bottom: none;
}

.todoItem {
    min-height: 4.8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 2rem 0 2rem;
    border-bottom: .5px solid hsla(236, 32%, 92%, 1);
    cursor: pointer;
}

.icon-check {
    width: 20px;
    height: 20px;
    border: 1px solid var(--standBy-light);
    border-radius: 50%;
    margin: 0 1.2rem 0 0;
    padding: 0;
    display: grid;
    place-items: center;
}



.todoItem.completed .icon-check {
    background-color: var(--gradientColor1);
    background-image: linear-gradient(135deg, var(--gradientColor1) 0%, var(--gradientColor2) 100%);
}

.todoItem.completed .text {
    text-decoration: line-through;
    color: var(--standBy-light);
}


.text {
    width: 80%;
    height: 4.8rem;
    display: grid;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.17px;
    color: var(--normal-light);
}

.icon-delete {
    width: 10%;
    height: 4.8rem;
    transform: scale(.8);
    display: grid;
    place-items: center;
}

.icon-delete:hover svg path {
    fill: #ff0000;
}


.todoListFooter {
    --itemHeight: 4.8rem;
    height: var(--itemHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    border-top: 1px solid hsla(236, 32%, 92%, 1);
}

.todoListFooter p {
    color: var(--standBy-light);
}

.todoListFooter p:nth-child(2) {
    cursor: pointer;
}


@media (min-width: 768px) {
    .todoItem {
        min-height: 6.4rem;
    }

    .text {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .icon-check {
        width: 24px;
        height: 24px;
    }
}

/* 
    ========================

    ----- TodosLoading -----

    ========================
*/

.LoadingTodo {
    width: 100%;
    height: 4.8rem;
    border-bottom: .5px solid hsla(236, 32%, 92%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleLoading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 1.2rem 0 0;
}


.textLoading {
    height: 50%;
    width: 80%;
    border-radius: 10px;
}

.animation {
    --color1: rgba(250,250,250,1);
    --color2: rgb(200,199,199);
    background: linear-gradient(90deg, var(--color1), var(--color2));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}


@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




/* 
    =======================

    ----- Todo Filter -----

    =======================
*/


.todoFilter {
    height: 4.8rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 9px 20px 0 hsla(235, 9%, 61%, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}

.filter {
    color: var(--standBy-light);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;
    cursor: pointer;
}

.filter.active {
    color: var(--selection-light);
}







/* 
    =================

    ----- Modal -----

    =================
*/


.TodoFormContainer {
    background: rgba( 32, 35, 41, .8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}










.TodoForm {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TodoForm label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1E1E1F;
  margin-bottom: 26px;
}

.TodoForm textarea {
  background-color: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

.TodoForm textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #61DAFA;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.TodoForm-button--cancel {
  background: transparent;
}