
:root {
    /* colors */

    --pureWhite: #FFFFFF;
    --body-light: hsla(0, 0%, 98%, 1);
    --body-dark: hsla(235, 21%, 11%, 1);
    

    /* texts */

    --standBy-light: hsla(235, 9%, 61%, 1);
    --normal-light: hsla(235, 19%, 35%, 1);
    --selection-light: hsla(220, 98%, 61%, 1);
    --font: 'Josefin Sans', sans-serif;    


    --gradientColor1: hsla(192, 100%, 67%, 1);
    --gradientColor2: hsla(280, 87%, 65%, 1);
}


body {
    background-color: var(--body-light);
    background-image: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--font);
    font-weight: 400;
    padding: 5rem 2.4rem 0;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}


ul, 
li {
    list-style: none;
}


.title {
    color: var(--pureWhite);
    text-align: center;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: .75px;
    margin-bottom: 4rem;
}


/* 
    =================

    ----- Todos -----

    =================
*/


/* 
    =================================

    ----- interaction Container -----

    =================================
*/


.interactionContainer {
    min-height: 48rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




.inputContainer {
    background-color: var(--pureWhite);
    width: 100%;
    min-height: 4.8rem;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
}


.input {
    border: none;
    outline: none;
    width: 90%;
    height: 4.8rem;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--standBy-light);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.17px;
}


.input:focus {
    color: var(--normal-light);
}


.todoButton {
    background-color: inherit;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    width: 10%;
    height: 48px;
    transform: rotate(45deg) scale(.8);
    cursor: pointer;
}

.todoButton:hover svg path {
    fill: #008000;
}




/* 
    ==========================

    ----- Todo Container -----

    ==========================
*/


.todoListContainer {
    background-color: var(--pureWhite);
    --itemHeight: 4.8rem;
    min-height: calc(var(--itemHeight) * 9);
    width: 100%;
    border-radius: 5px;
}

.todoList {
    --itemHeight: 4.8rem;
    height: calc(var(--itemHeight) * 8);
    overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
    display: none;
}

.todoList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.todoItem:last-child {
    border-bottom: none;
}

.todoItem {
    min-height: 4.8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 2rem 0 2rem;
    border-bottom: .5px solid hsla(236, 32%, 92%, 1);
    cursor: pointer;
}

.icon-check {
    width: 20px;
    height: 20px;
    border: 1px solid var(--standBy-light);
    border-radius: 50%;
    margin: 0 1.2rem 0 0;
    padding: 0;
    display: grid;
    place-items: center;
}



.todoItem.completed .icon-check {
    background-color: var(--gradientColor1);
    background-image: linear-gradient(135deg, var(--gradientColor1) 0%, var(--gradientColor2) 100%);
}

.todoItem.completed .text {
    text-decoration: line-through;
    color: var(--standBy-light);
}


.text {
    width: 80%;
    height: 4.8rem;
    display: grid;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.17px;
    color: var(--normal-light);
}

.icon-delete {
    width: 10%;
    height: 48px;
    transform: scale(.8);
    display: grid;
    place-items: center;
}

.icon-delete:hover svg path {
    fill: #ff0000;
}

.todoListFooter {
    --itemHeight: 4.8rem;
    height: var(--itemHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    border-top: 1px solid hsla(236, 32%, 92%, 1);
}

